@media screen and (min-width: 1200px) and (max-width: 1825px) {
    .wpa-services-title h3 {
        font-size: 12px !important;
    }

    .wpa-services-icon {
        padding: 0px 10px;
    }

    .wpa-services-title h3 {
        padding: 0px 5px;
    }

    .wpa-servicesbar-wrapper.wpa-services-gap {
        gap: 5px;
    }

    .wpa-services-icon img {
        width: 20px;
    }
    .wpa-pro-services-box{
        flex: 0 0 31.6%;
    }
    .wpa-pro-services-box-content-title h2 {
        line-height: 25px !important;
        margin-bottom: 15px;
    }
    .wpa-footer-menu ul li {
        padding: 0px 15px;
        flex: 1;
    }   
}
@media screen and (max-width: 1360px) {
.wpa-pro-services-box {
    flex: 0 0 31%;
}
}
@media screen and (max-width: 1305px) {
.wpa-services-title h3 {
    font-size: 10px !important;
}
}
@media screen and (max-width: 1299px) {
.wpa-header-wrapper{
    gap: 25px;
}
.wpa-desktop-menu{
    gap: 15px !important;
}
header .wpa-right-menu-buttons button {
    width: 150px;
   }
}


@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .wpa-h3-font-size h3 a {
        font-size: 25px;
    }
    .wpa-h3-font-size h3{
        font-size: 25px;
    }
    .wpa-h2-font-size h2 {
        font-size: 42px;
        line-height: 46px;
    }
    .wpa-quiz-content ul li {
        font-weight: 500;
        line-height: 22px;
    }
    .wpa-h4-font-size h4{
        font-size: 20px;
    }
    .wpa-coupons-and-deals-box-titile h4{
        line-height: 25px;
    }
    .wpa-h1-font-size h1{
        font-size: 45px;
    }
 
    .wpa-footer-menu ul li{
        flex: unset !important;
    }
    
}
@media screen and (max-width: 1260px) {
.wpa-footer-menu> .wpa-flex {
    flex-wrap: wrap !important;
}
.wpa-footer-menu ul {
    justify-content: center;
    gap: 10px;
}
}
@media screen and (max-width: 1199px) {
    .wpa-wrapper-sides-spacing{
        margin: 0px 50px;
    }
    .wpa-pro-services-box-content-title h2 {
        line-height: 25px !important;
        margin-bottom: 15px;
    }
    .wpa-footer-menu ul li {
        padding: 0px 15px;
        flex: unset;
    } 
    .wpa-footer-menu> .wpa-flex{
        flex-wrap: wrap !important;
    }
    .wpa-footer-menu ul {
        justify-content: center;
        gap: 10px;
    } 
    .wpa-h3-font-size h3 a {
        font-size: 22px;
    }
    .wpa-h3-font-size h3{
        font-size: 22px;
    }
    .wpa-h2-font-size h2 {
        font-size: 38px;
        line-height: 44px;
    }
    .wpa-quiz-content ul li {
        font-weight: 500;
        line-height: 22px;
    }
    .wpa-h4-font-size h4{
        font-size: 18px;
    }
    .wpa-coupons-and-deals-box-titile h4{
        line-height: 20px;
    }
    .wpa-h1-font-size h1{
        font-size: 43px;
    }
    .wpa-servicesbar-wrapper{
        flex-wrap: wrap;
    }
    .wpa-servicesbar-wrapper .wpa-services-common{
        flex: 0 0 32.3%;
    }
    .wpa-servicesbar-wrapper .wpa-services-common .wpa-services-title h3{
        font-size: 14px !important;
    }
    .wpa-blogs-details p{
        font-size: 14px;
    }
    .wpa-paragraph-text p{
        font-size: 14px;
    }
    .wpa-desktop-menu li a{
        font-size: 14px !important;
    }
    .wpa-content-top-bottom-spacing {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .wpa-pro-services-box-content-title h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .wpa-content-top-bottom-spacing-30 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .wpa-paragraph-text p {
        line-height: 22px;
    }
    .wpa-pro-services-box-content .wpa-line-limit-2 p{
        height: 48px;
    }
}
@media screen and (max-width: 1080px) {
    header .wpa-right-menu-buttons button {
        width: 140px;
        margin-left: 10px;
       }
       .wpa-header-logo {
        flex: 0 0 150px;
    }
    .content-right-container .content-right{
        flex-direction: column;
        gap: 20px !important;
    }
}
@media screen and (max-width: 1066px) {
.wpa-servicesbar-wrapper .wpa-services-common{
    flex:  0 32.2%;
}

.wpa-desktop-menu{
    gap: 10px !important;
}
.wpa-header-wrapper{
    gap: 25px;
}
}
@media screen and (max-width: 991px) {
.wpa-desktop-menu{
    display: none;
  }
  .wpa-mobile-menu{
    display: block;
  }
  .wpa-space-between.wpa-center-on-mobile{
    justify-content: flex-end;
  }
  .wpa-header-search-bar {
    margin-right: 60px;
}
.wpa-quiz-banner> div{
    flex-direction: column;
    padding: 0 30px;
}
.wpa-quiz-content button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

}
.wpa-servicesbar-wrapper .wpa-services-common {
    flex: 1 0 32%;
}
.wpa-h1-font-size h1 {
    font-size: 35px;
}
.wpa-line-height-h1 h1 {
    line-height: 40px;
}
.timeline-article .content-left-container, .timeline-article .content-right-container {
    margin: 0px 0px 40px 150px;
}
.wpa-top-servicesbar .wpa-services-gap{
    gap: 8px;
}
.wpa-top-servicesbar{
    padding: 10px 0px;
}
.wpa-pro-services-box {
    flex: 0 0 48%;
}
.wpa-gap-20 {
    gap: 10px;
}
}